<div id="home" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="  display: block;">

            <div class="carousel">
                <div class="greeting">
                    <h1 class="greetinglabel"></h1>
                    <h2>You have <span class="highlight">3</span> routines this afternoon.<span class="charet"></span></h2>
                </div>

                <div>
                    <ul class="events_today">
                        <h3>Today&#39;s actopms</h3>
                        <li>
                            Clear your throat
                            <p class="event_time">09:30</p>
                        </li>
                        <li>
                            Drink some water 
                            <p class="event_time">09:30</p>
                        </li>
                        <li>
                            Dance around
                            <p class="event_time">09:30</p>
                        </li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section">
            <ul class="main_menu">
                <li class="gliving menu_preview navigation-view" data-view="gliving/content/index.html">
                    <div class="btn_icon"></div>
                    <span>Good Living<br/>
                        <p>Health and stress management advice</p>
                    </span>
                </li>
                <li class="noyawa menu_preview navigation-view" data-view="noyawa.html">
                    <div class="btn_icon"></div>
                    <span>NoYawa SmartSex<br/>
                        <p>Sexual Reproductive Health Information</p>
                    </span>
                </li>
            </ul>
        </div>
        <!-- bottom section -->
    </div>
</div>
