<div id="home" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="display: block;">

            <div class="carousel">
                <div class="greeting">
                    <h1 class="greetinglabel"></h1>
                    <h2 id="routines_label"></h2>
                </div>

                <div>
                    <ul class="routines_today" style="margin-top:-95px;">
        	        </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section">
            <ul class="main_menu">
                <li class="gliving menu_preview navigation-view" data-view="gliving/content/index.html">
                    <div class="btn_icon"></div>
                    <span>My Wellness<br/>
                        <p>Daily Lifestyle Plans and Stress Management</p>
                    </span>
                </li>
                <li class="devotionals menu_preview navigation-view" data-view="devotionals/index.html">
                    <div class="btn_icon"></div>
                    <span>Devotionals<br/>
                        <p>Daily Devotional</p>
                    </span>
                </li>
                <li class="noyawa menu_preview navigation-view" data-view="noyawa.html">
                    <div class="btn_icon"></div>
                    <span>NoYawa SmartSex<br/>
                        <p>Sexual Reproductive Health Information</p>
                    </span>
                </li>
            </ul>
        </div>
        <!-- bottom section -->
    </div>
</div>
