<div id="home" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="  display: block;">

            <div class="carousel">
                <div class="greeting">
                    <h1 class="greetinglabel"></h1>
                    <h2 id="routineinfo"></h2>
                </div>

                <div>
                    <ul class="routines_today">
                        <h3 id="routine_title"></h3>
                        <li>Sip on <a href="#" class="modal-view" data-view="gliving/content/worksheets/diet/drink warm water.html">warm water</a> when you wake up in the morning</li>
                        <li>Brush your teeth, and <a href="#" class="modal-view" data-view="gliving/content/worksheets/personalcare/tongue scraping.html">scrape your tongue</a> to remove any coating</li>
                        <li><a href="#" class="modal-view" data-view="gliving/content/worksheets/personalcare/hair treatment.html">Nourish hair</a> with coconut oil</li>
                        <li>Once a week, <a href="#" class="modal-view" data-view="gliving/content/worksheets/personalcare/massage body.html">massage your body</a> with coconut oil </li>
                        <li>Use <a href="#" class="modal-view" data-view="gliving/content/worksheets/personalcare/neem water.html">neem water</a> to wash off the oil from your body and hair </li>
                        
        	        </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section">
            <ul class="main_menu">
                <li class="gliving menu_preview navigation-view" data-view="gliving/content/index.html">
                    <div class="btn_icon"></div>
                    <span>My Wellness<br/>
                        <p>Daily Lifestyle Plans and Stress Management</p>
                    </span>
                </li>
                <li class="devotionals menu_preview navigation-view" data-view="devotionals/index.html">
                    <div class="btn_icon"></div>
                    <span>Devotionals<br/>
                        <p>Daily Devotional</p>
                    </span>
                </li>
                <li class="noyawa menu_preview navigation-view" data-view="noyawa.html">
                    <div class="btn_icon"></div>
                    <span>NoYawa SmartSex<br/>
                        <p>Sexual Reproductive Health Information</p>
                    </span>
                </li>
            </ul>
        </div>
        <!-- bottom section -->
    </div>
</div>
