<div id="content" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="vertical-align: top; display: block;">
               
            <div class="carousel"> 
                <div class="greeting">
                    <h1 class="greetinglabel"></h1>
                    
                    <div class="main_title" style="margin-top:15px;">
                        <h4>Legal Notice</h4>
                    </div>
                    
                    <div id="legalnotice" style="width: 320px; font-size: small; padding: 10px;" class="inner scroll">
                        <p>The content in this section is to be the best of our knowledge accurate and has been developed by experts. This legal notice is to note that The Ghana Health Service (GHS), Grameen Foundation, Concern Worldwide and all staff of the above mentioned organizations <b class="highlight">cannot be held liable for any adverse effects that arise from following the advice in the Staying Well section</b>. A description of each section is below.</p> 
                        <br/>
                        <h2>My Wellness</h2>
                        <p>"My Wellness" is designed to address your health and wellness needs by providing daily lifestyle plans and stress management techniques.  This content, based on principles of an Indian medical science, was developed by global health and wellness experts.</p>
                        <br/>
                        <h2>Devotionals</h2>
                        <p class="clear">In nisl justo, facili sis ac viverra eu, ultricies ac odio. Phasellus imperdiet ac massa sit amet imperdiet. Etiam consequat risus quis ante imperdiet, sit amet scelerisque elit fringilla. Donec convallis vestibulum tempus. In a erat consequat, finibus magna sit amet, imperdiet augue. Integer posuere ac orci id laoreet.</p>
                        <br/>
                        <h2>NoYawa SmartSex</h2>
                        <p class="clear">In nisl justo, facili sis ac viverra eu, ultricies ac odio. Phasellus imperdiet ac massa sit amet imperdiet. Etiam consequat risus quis ante imperdiet, sit amet scelerisque elit fringilla. Donec convallis vestibulum tempus. In a erat consequat, finibus magna sit amet, imperdiet augue. Integer posuere ac orci id laoreet.</p>
                    </div>

                    <div class="main_title" style="margin-top:25px;">
                        <h4>Do you agree to these terms?</h4>
                    </div>

                    <div>
                        <button class="large" id="legalno">No</button>
                        <button class="success large" id="legalyes"> I agree</button>
                    </div>
                        
                    </div>

                </div>
            </div>

        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section"> </div>
        <!-- bottom section -->
    </div>
</div>
