<div id="routines_worry_morning" class="gcontent">

    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="page-with-back-button">
                    <div class="main_title">
                        <h4>Science behind Wellness Plans</h4>
                    </div>
    
    	
    				<div>
    					<img src="../assets/about_plans_wheel.PNG" />
    				</div>
    				
                    <div>
                        <p>"My Wellness" is based on principles of an Indian Medical System. The science looks at wellness as a combination of physical health, emotional wellbeing and life satisfaction.</p> 
                        <ul>
                        	<li>Physical health consists of proper digestion and metabolism, good immunity, and fitness and strength</li> 
							<li>Emotional wellbeing consists of calmness, clarity of mind and mental energy</li>
							<li>Life satisfaction consists of faith & community, good career and healthy relationships</li>
						</ul>
						<p>
							The science uses a functional and qualitative approach to health and wellbeing. Functional approach describes the 
							body in terms of how it functions. Qualitative approach describes the body and mind in terms of the qualities it may have.
						</p>
						<p>
							The body and mind are connected.  Diet, exercise, and healthy lifestyle tips can impact both body and mind and can improve 
							your outlook in life.  When you feel angry after a client meeting, for instance, your body temperature rises and breathing 
							pattern quickens.  You can address anger by writing down 1 positive thing that happened during your interaction. You can 
							also cool down the heat within the body by taking deep breaths and by drinking room temperature water. You can find new 
							and different ways to address your health and wellness needs.
						</p>
                    </div>
                </div>
            </div>

            <div id="back_btn" class="back-button"></div>

        </div>
    </div>

</div>
