<div id="content" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="  display: block;">
            <div class="carousel"> 
                <div class="greeting">
                    <h1>My Wellness Content</h1> 
                    <br/><br/>
                    <div id="back_btn" class="back-button"></div>
                </div>
            </div>
        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section">
            <ul class="final_menu">
                <li class="menu_preview navigation-view" data-view="gliving/content/stressfree/index.html">
                    <div class="btn_icon"></div>
        	        <span>Staying Stress-free<br>
        	        <p>Deal with stress by relating to others better</p></span>
                </li>
                <li class="menu_preview navigation-view" data-view="gliving/content/routines/index.html">
                    <div class="btn_icon"></div>
        	        <span>Wellness Plans<br>
        	        <p>Daily tips for a healthy life</p></span>
                </li>
                <li class="menu_preview navigation-view" data-view="gliving/content/health environment.html">
                    <div class="btn_icon"></div>
        	        <span>Keeping a healthy home<br>
        	        <p>Learn to keep a health home environment</p></span>
                </li>
                <li class="menu_preview navigation-view" data-view="gliving/content/worksheets/index.html">
                    <div class="btn_icon"></div>
        	        <span>Activities<br>
        	        <p>Details on activities for staying healthy</p></span>
                </li>
            </ul>
        </div>
        <!-- bottom section -->

    </div>
</div>
