<div id="devotionals" class="canvas">
    <div class="menu">

        <!-- top section -->
        <div class="top-section" style="  display: block;">
            <div class="carousel"> 
                <div class="greeting">
                    <h1 class="greetinglabel"></h1>
                    <br/>
                    <h2>Devotional Content</h2> 
                    <br/><br/> <br/>
                    <div id="back_btn" class="back-button"></div>
                </div>
            </div>
        </div>
        <!-- top section -->

        <!-- bottom section -->
        <div class="bottom-section">
            <ul class="final_menu">
                <li class="menu_preview navigation-view" data-view="devotionals/bible.html">
                    <div class="btn_icon"></div>
        	        <span>Bible<br>
        	        <p>Daily Devotional from January to December</p></span>
                </li>
            </ul>
			  <ul class="final_menu">
                <li class="menu_preview navigation-view" data-view="quran.html">
                    <div class="btn_icon"></div>
        	        <span>Quran<br>
        	        <p>Holy Quran with English translation</p></span>
                </li>
            </ul>
        </div>
        <!-- bottom section -->
		  
          
      
        <!-- bottom section -->

    </div>
</div>
