@font-face {
	font-family: 'webfont-medical-icons';
	src:url('fonts/webfont-medical-icons.eot');
	src:url('fonts/webfont-medical-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/webfont-medical-icons.ttf') format('truetype'),
		url('fonts/webfont-medical-icons.woff') format('woff'),
		url('fonts/webfont-medical-icons.svg#webfont-medical-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconx-"], [class*=" iconx-"] {
	font-family: 'webfont-medical-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconx-i-womens-health:before {
	content: "\e600";
}
.iconx-i-waiting-area:before {
	content: "\e601";
}
.iconx-i-volume-control:before {
	content: "\e602";
}
.iconx-i-ultrasound:before {
	content: "\e603";
}
.iconx-i-text-telephone:before {
	content: "\e604";
}
.iconx-i-surgery:before {
	content: "\e605";
}
.iconx-i-stairs:before {
	content: "\e606";
}
.iconx-i-radiology:before {
	content: "\e607";
}
.iconx-i-physical-therapy:before {
	content: "\e608";
}
.iconx-i-pharmacy:before {
	content: "\e609";
}
.iconx-i-pediatrics:before {
	content: "\e60a";
}
.iconx-i-pathology:before {
	content: "\e60b";
}
.iconx-i-outpatient:before {
	content: "\e60c";
}
.iconx-i-mental-health:before {
	content: "\e60d";
}
.iconx-i-medical-records:before {
	content: "\e60e";
}
.iconx-i-medical-library:before {
	content: "\e60f";
}
.iconx-i-mammography:before {
	content: "\e610";
}
.iconx-i-laboratory:before {
	content: "\e611";
}
.iconx-i-labor-delivery:before {
	content: "\e612";
}
.iconx-i-immunizations:before {
	content: "\e613";
}
.iconx-i-imaging-root-category:before {
	content: "\e614";
}
.iconx-i-imaging-alternative-pet:before {
	content: "\e615";
}
.iconx-i-imaging-alternative-mri:before {
	content: "\e616";
}
.iconx-i-imaging-alternative-mri-two:before {
	content: "\e617";
}
.iconx-i-imaging-alternative-ct:before {
	content: "\e618";
}
.iconx-i-fire-extinguisher:before {
	content: "\e619";
}
.iconx-i-family-practice:before {
	content: "\e61a";
}
.iconx-i-emergency:before {
	content: "\e61b";
}
.iconx-i-elevators:before {
	content: "\e61c";
}
.iconx-i-ear-nose-throat:before {
	content: "\e61d";
}
.iconx-i-drinking-fountain:before {
	content: "\e61e";
}
.iconx-i-cardiology:before {
	content: "\e61f";
}
.iconx-i-billing:before {
	content: "\e620";
}
.iconx-i-anesthesia:before {
	content: "\e621";
}
.iconx-i-ambulance:before {
	content: "\e622";
}
.iconx-i-alternative-complementary:before {
	content: "\e623";
}
.iconx-i-administration:before {
	content: "\e624";
}
.iconx-i-social-services:before {
	content: "\e625";
}
.iconx-i-smoking:before {
	content: "\e626";
}
.iconx-i-restrooms:before {
	content: "\e627";
}
.iconx-i-restaurant:before {
	content: "\e628";
}
.iconx-i-respiratory:before {
	content: "\e629";
}
.iconx-i-registration:before {
	content: "\e62a";
}
.iconx-i-oncology:before {
	content: "\e62b";
}
.iconx-i-nutrition:before {
	content: "\e62c";
}
.iconx-i-nursery:before {
	content: "\e62d";
}
.iconx-i-no-smoking:before {
	content: "\e62e";
}
.iconx-i-neurology:before {
	content: "\e62f";
}
.iconx-i-mri-pet:before {
	content: "\e630";
}
.iconx-i-interpreter-services:before {
	content: "\e631";
}
.iconx-i-internal-medicine:before {
	content: "\e632";
}
.iconx-i-intensive-care:before {
	content: "\e633";
}
.iconx-i-inpatient:before {
	content: "\e634";
}
.iconx-i-information-us:before {
	content: "\e635";
}
.iconx-i-infectious-diseases:before {
	content: "\e636";
}
.iconx-i-hearing-assistance:before {
	content: "\e637";
}
.iconx-i-health-services:before {
	content: "\e638";
}
.iconx-i-health-education:before {
	content: "\e639";
}
.iconx-i-gift-shop:before {
	content: "\e63a";
}
.iconx-i-genetics:before {
	content: "\e63b";
}
.iconx-i-first-aid:before {
	content: "\e63c";
}
.iconx-i-dermatology:before {
	content: "\e63d";
}
.iconx-i-dental:before {
	content: "\e63e";
}
.iconx-i-coffee-shop:before {
	content: "\e63f";
}
.iconx-i-chapel:before {
	content: "\e640";
}
.iconx-i-cath-lab:before {
	content: "\e641";
}
.iconx-i-care-staff-area:before {
	content: "\e642";
}
.iconx-i-accessibility:before {
	content: "\e643";
}
.iconx-i-diabetes-education:before {
	content: "\e644";
}
.iconx-i-hospital:before {
	content: "\e645";
}
.iconx-i-kidney:before {
	content: "\e646";
}
.iconx-i-ophthalmology:before {
	content: "\e647";
}
.iconx-womens-health:before {
	content: "\e648";
}
.iconx-waiting-area:before {
	content: "\e649";
}
.iconx-volume-control:before {
	content: "\e64a";
}
.iconx-ultrasound:before {
	content: "\e64b";
}
.iconx-text-telephone:before {
	content: "\e64c";
}
.iconx-surgery:before {
	content: "\e64d";
}
.iconx-stairs:before {
	content: "\e64e";
}
.iconx-radiology:before {
	content: "\e64f";
}
.iconx-physical-therapy:before {
	content: "\e650";
}
.iconx-pharmacy:before {
	content: "\e651";
}
.iconx-pediatrics:before {
	content: "\e652";
}
.iconx-pathology:before {
	content: "\e653";
}
.iconx-outpatient:before {
	content: "\e654";
}
.iconx-ophthalmology:before {
	content: "\e655";
}
.iconx-mental-health:before {
	content: "\e656";
}
.iconx-medical-records:before {
	content: "\e657";
}
.iconx-medical-library:before {
	content: "\e658";
}
.iconx-mammography:before {
	content: "\e659";
}
.iconx-laboratory:before {
	content: "\e65a";
}
.iconx-labor-delivery:before {
	content: "\e65b";
}
.iconx-kidney:before {
	content: "\e65c";
}
.iconx-immunizations:before {
	content: "\e65d";
}
.iconx-imaging-root-category:before {
	content: "\e65e";
}
.iconx-imaging-alternative-pet:before {
	content: "\e65f";
}
.iconx-imaging-alternative-mri:before {
	content: "\e660";
}
.iconx-imaging-alternative-mri-two:before {
	content: "\e661";
}
.iconx-imaging-alternative-ct:before {
	content: "\e662";
}
.iconx-hospital:before {
	content: "\e663";
}
.iconx-fire-extinguisher:before {
	content: "\e664";
}
.iconx-family-practice:before {
	content: "\e665";
}
.iconx-emergency:before {
	content: "\e666";
}
.iconx-elevators:before {
	content: "\e667";
}
.iconx-ear-nose-throat:before {
	content: "\e668";
}
.iconx-drinking-fountain:before {
	content: "\e669";
}
.iconx-diabetes-education:before {
	content: "\e66a";
}
.iconx-cardiology:before {
	content: "\e66b";
}
.iconx-billing:before {
	content: "\e66c";
}
.iconx-anesthesia:before {
	content: "\e66d";
}
.iconx-ambulance:before {
	content: "\e66e";
}
.iconx-alternative-complementary:before {
	content: "\e66f";
}
.iconx-administration:before {
	content: "\e670";
}
.iconx-accessibility:before {
	content: "\e671";
}
.iconx-social-services:before {
	content: "\e672";
}
.iconx-smoking:before {
	content: "\e673";
}
.iconx-restrooms:before {
	content: "\e674";
}
.iconx-restaurant:before {
	content: "\e675";
}
.iconx-respiratory:before {
	content: "\e676";
}
.iconx-oncology:before {
	content: "\e677";
}
.iconx-nutrition:before {
	content: "\e678";
}
.iconx-nursery:before {
	content: "\e679";
}
.iconx-no-smoking:before {
	content: "\e67a";
}
.iconx-neurology:before {
	content: "\e67b";
}
.iconx-mri-pet:before {
	content: "\e67c";
}
.iconx-interpreter-services:before {
	content: "\e67d";
}
.iconx-internal-medicine:before {
	content: "\e67e";
}
.iconx-intensive-care:before {
	content: "\e67f";
}
.iconx-inpatient:before {
	content: "\e680";
}
.iconx-information-us:before {
	content: "\e681";
}
.iconx-infectious-diseases:before {
	content: "\e682";
}
.iconx-hearing-assistance:before {
	content: "\e683";
}
.iconx-health-services:before {
	content: "\e684";
}
.iconx-health-education:before {
	content: "\e685";
}
.iconx-gift-shop:before {
	content: "\e686";
}
.iconx-genetics:before {
	content: "\e687";
}
.iconx-first-aid:before {
	content: "\e688";
}
.iconx-dental:before {
	content: "\e689";
}
.iconx-coffee-shop:before {
	content: "\e68a";
}
.iconx-chapel:before {
	content: "\e68b";
}
.iconx-cath-lab:before {
	content: "\e68c";
}
.iconx-care-staff-area:before {
	content: "\e68d";
}
.iconx-registration:before {
	content: "\e68e";
}
.iconx-dermatology:before {
	content: "\e68f";
}
