.exciteme
{
	background-image:url('../images/cloudy.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
}
.picme
{
	background-image:url('../images/medicine.jpg');
	background-size:cover;
}
.dropme
{
 padding-top: 0px;
}

.whiteme
{
	color:white;
}

.redme
{
	color:red;
}

.bigsize
{
	font-size:1.5em;
}

.supersize
{
	font-size:2em;
}
.myblue
{
	background-color:lightgreen;
}

.backgroundsup
{
	background-color:green;
}
.eventtxt /*Used for event planning buttons (icons)*/
{
	font-size:1.5em;
	font-weight:bold;
	color:orange;
}

.question /* Used whenever a question is asked within the application */
{
	font-weight:bold;
	font-size:1em; 
	font-color:black;
}

.greyedout /* Used for text in elements that will be removed once the user enters a value*/
{
	color:grey;
}

.padme
{
	padding-top:5%;
}

.explain
{
	font-color:grey;
	font-size:10px;
}


body
{
	
}

.eventtarget
{
 font-weight:bold;
 font-size:1 em; 
 color:black;
}

.eventheader
{
	font-weight:bold;
	color:black;
	font-family:Comic Sans;
	
}

.mobiletheme
{
	background-color:black;
}

h3
{}

h4
{}

.POCbtn{
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}

.danger
{
	color:red;
	font-size:4em;
}

.greymeout
{
	color:grey;
}

.bluemeout
{
	color:blue;
}

.filmme
{
	background-color:black;
	opacity:80%;
}