.entry-table {
  width: 100%;
}

.entry {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.entry-icon {
  display: inline;
  width:   5em;
  height:  5em;
  padding: 1em;
}

.entry-text {
  vertical-align: text-top;
  /* width: 150px; */ /* IPhone */
  width: 60%;
}

.shaded-entry {
  background: rgb(156, 207, 202);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.unshaded-entry {
  background: rgb (240, 253, 244);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.light-selected-entry {
  background: rgb(167, 212, 157);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.dark-selected-entry {
  background: rgb(167, 212, 157);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 500px) {
  .entry-icon {
    width:  5em;
    height: 5em;
  }

  .entry-text {
    width: 60%;
  }
}
