<!-- top section -->
<div class="top-section" style="  display: block;">
    
    <div id="fillerror" style="width:200px; display:none;">
        <p style="width: 250px; color:red; padding-left: 30px;">Please choose a plan before proceeding...</p>
    </div>

    <div class="carousel">

        <!-- Question 1 -->
        <div class="greeting">
            <h1 class="reetinglabel">Pick a Plan</h1>
            <h2>To help you feel better, please select a wellness plan for this month</h2> 
            <br/><br/>
            <h2 class="highlight">This month, I want to:</h2>
            
            <div class="survey" style="margin-left:-55px">
                <ul class="survey_list" style="width:80%">
                    <li>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1A" name="plan" value="strength">
                            <label for="plan1A">Improve my physical strength</label>
                        </p>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1B" name="plan" value="immunity">
                            <label for="plan1B">Improve my immunity</label>
                        </p>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1C" name="plan" value="appearance">
                            <label for="plan1C">Improve my appearance & hygiene</label>
                        </p>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1D" name="plan" value="worry">
                            <label for="plan1D">Be worry free</label>
                        </p>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1E" name="plan" value="time">
                            <label for="plan1E">Have more time for myself</label>
                        </p>
                        <p class="answer" style="padding-bottom: 10px;">
                            <input type="radio" id="plan1F" name="plan" value="time">
                            <label for="plan1F">Let go of hurts holding me back</label>
                        </p>
                    </li>
                </ul>
            </div>

            <br/><button class="info plannext large" id="plan1">Next</button>        
        </div>

        <div class="greeting">
            <h1 class="greetinglabel"></h1>
            <h2>Thank you for picking a plan! <br/>Each time of the day you will receive<br> routine wellness tips tailored to you!</h2> 
            <br/>
            <br/><button class="success large" id="plandone">Continue</button>        
        </div>    

        <div style="clear: both;"></div>
    </div>
</div>
<!-- top section -->

<!-- bottom section -->
<div class="bottom-section">
    <ul class="main_menu">
        <li class="learning_center menu_preview"></li>
     </ul>
</div>
<!-- bottom section -->
