<!-- top section -->
<div class="top-section" style="  display: block;">
    
    <div id="fillerror" style="width: 200px; display:none;">
        <p style="width: 180px; color:red">Please answer each question before proceeding...</p>
    </div>

    <div class="carousel">
        <div class="greeting">
            <h1 class="greetinglabel"></h1>
            <h2>To help make the content relevant to you,
                 please complete this survey</h2> 
            <br/>
            
            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">Which of the following <b>BEST</b> describes you?</p>
                        <p class="answer">
                            <input type="radio" id="question1A" name="question1" value="A">
                            <label>
                                <span><span></span></span>Driven, Resourceful, Organized
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question1B" name="question1" value="B">
                            <label><span><span></span></span>Compassionate, Caring, Team Player
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question1C" name="question1" value="C">
                            <label><span><span></span></span>Creative, Communicative, Quick Decision Making</label>
                        </p>
                    </li>
                </ul>
            </div>

            <br/><button class="info surveynext large" id="question1">Next</button>        
        </div>

        <div class="greeting">
            <h2>Which of the following do you struggle with <b class="highlight">MOST</b>?</h2> 
            <br/>
            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <!--
                        <p class="question">Which of the following do you struggle with <b>MOST</b>?</p>
                        -->
                        <p class="answer">
                            <input type="radio" id="question2A" name="question2" value="A">
                            <label>
                                <span><span></span></span>Being Impatient, Stubborn
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question2B" name="question2" value="B">
                            <label><span><span></span></span>Loneliness, Feeling helpless
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question2C" name="question2" value="C">
                            <label><span><span></span></span>Lack of focus, low energy
                            </label>
                        </p>
                    </li>
                </ul>
            </div>
            <br/><button class="info surveynext large" id="question2">Next</button>        
        </div>

        <div class="greeting">

            <h2>What do you value <b class="highlight">MOST</b> in your job?</h2> 

            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">What do you value <b>MOST</b> in your job?</p>
                        <p class="answer">
                            <input type="radio" id="question3A" name="question3" value="A">
                            <label>
                                <span><span></span></span>Finding useful and creative solutions for my clients' problems
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question3B" name="question3" value="B">
                            <label><span><span></span></span>Being part of a strong community of CHNs
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question3C" name="question3" value="C">
                            <label><span><span></span></span>Earning respect and support from my supervisors
                            </label>
                        </p>
                    </li>
                </ul>
            </div>
            <br/><button class="info surveynext large" id="question3">Next</button>        
        </div>

        <div class="greeting">
            <h2 class="question">What do you enjoy <b class="highlight">MOST</b> from your interactions with clients?</h2>

            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="answer">
                            <input type="radio" id="question4A" name="question4" value="A">
                            <label>
                                <span><span></span></span>Figure out their medical isssues, and know how to treat them</label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question4B" name="question4" value="B">
                            <label><span><span></span></span>Hear their problems, and help them make healthy choices</label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question4C" name="question4" value="C">
                            <label><span><span></span></span>Feeling respected or admired by clients
                            </label>
                        </p>
                    </li>
                </ul>
            </div>
            <br/><button class="info surveynext small" id="question4">Next</button>        
        </div>

        <div class="greeting">
            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">My <b>FIRST</b> reaction when I get feedback or criticism is to:</p>
                        <p class="answer">
                            <input type="radio" id="question5A" name="question5" value="A">
                            <label>
                                <span><span></span></span>Get update or angry because I think I am right
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question5B" name="question5" value="B">
                            <label><span><span></span></span>Keep quiet, and take in the criticism
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question5C" name="question5" value="C">
                            <label><span><span></span></span>Not be bothered and ignore the comments
                            </label>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">What activities help you relieve stress?</p> 
                        <p class="answer">
                            <input type="radio" id="question6A" name="question6" value="A">
                            <label>
                                <span><span></span></span>Being active such as walking, exercise, cooking
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question6B" name="question6" value="B">
                            <label><span><span></span></span>Talking to friends, family and others
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question6C" name="question6" value="C">
                            <label><span><span></span></span>Doing creative things such as singing and dancing
                            </label>
                        </p>
                    </li>
                </ul>
            </div>


            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">When you experience challenges, how do you handle them?</p>
                        <p class="answer">
                            <input type="radio" id="question7A" name="question7" value="A">
                            <label>
                                <span><span></span></span>I read or talk to people and find a solution to the challenge
                        </p>
                        <p class="answer">
                            <input type="radio" id="question7B" name="question7" value="B">
                            <label><span><span></span></span>I try to solve the challenge with others</label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question7C" name="question7" value="C">
                            <label><span><span></span></span>I bring up the challenge to others and ask for advise
                            </label>
                        </p>
                    </li>
                </ul>
            </div>

            <br/><button class="info surveynext small" id="question5,question6,question7">Next</button>        
        </div>

      <div class="greeting">
            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">Which of the following <b>BEST</b> describes how you use money?</p>
                        <p class="answer">
                            <input type="radio" id="question8A" name="question8" value="A">
                            <label>
                                <span><span></span></span>I spend on myself, but I am careful about how I spend
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question8B" name="question8" value="B">
                            <label><span><span></span></span>I find it easy to save. When I spend I buy for others
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question8C" name="question8" value="C">
                            <label><span><span></span></span>I like to buy expensive, good quality items for myself
                            </label>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">How do you feel about routines?</p> 
                        <p class="answer">
                            <input type="radio" id="question9A" name="question9" value="A">
                            <label>
                                <span><span></span></span>I like my own routines and am disciplined in following them
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question9B" name="question9" value="B">
                            <label><span><span></span></span>I find it difficult to change my routines
                            </label>
                        </p>
                        <p class="answer">
                            <input type="radio" id="question9C" name="question9" value="C">
                            <label><span><span></span></span>I get bored easily and find it difficult to stick with routines
                            </label>
                        </p>
                    </li>
                </ul>
            </div>


            <div class="survey">
                <ul class="survey_list">
                    <li>
                        <p class="question">Which of the following motivates you in life?</p>
                        <p class="answer">
                            <input type="radio" id="question10A" name="question10" value="A">
                            <label>
                                <span><span></span></span>Making a difference in society
                        </p>
                        <p class="answer">
                            <input type="radio" id="question10B" name="question10" value="B">
                            <label><span><span></span></span>Having a good relationship with my family and friends
                        </p>
                        <p class="answer">
                            <input type="radio" id="question10C" name="question10" value="C">
                            <label><span><span></span></span>Being respected by others
                            </label>
                        </p>
                    </li>
                </ul>
            </div>

            <br/><button class="info surveynext small" id="question8,question9,question10">Next</button>        
        </div>

        <div class="greeting">
            <h1 class="greetinglabel"></h1>
            <h2>Thank you for completing the survey! Now your content will be tailored to you!</h2> 
            <br/>
            <br/><button class="success" id="surveydone">Continue</button>        
        </div>    

        <div style="clear: both;"></div>
    </div>
</div>
<!-- top section -->

<!-- bottom section -->
<div class="bottom-section">
    <ul class="main_menu">
        <li class="learning_center menu_preview"></li>
     </ul>
</div>
<!-- bottom section -->
